@charset "UTF-8";
/* CSS Document */

body {
    background: #def;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}

h1 {
	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size: 45px;
}

.nav-bar {
  column-count: 2;
  column-width: 50%;
  padding: 25px;

  list-style-type: none;

  font-family: 'Karla', sans-serif;
  font-size: 165%;
  text-align: center;
  color: rgba(10,60,150, 0.8);
  font-weight: 600;
  line-height: 50%;
}

#box-hover {
  background-color: #def;
  padding: 10% 10% 10% 10%;

  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: white;

  transition: background-color 0.3s ease, border-color 0.3s ease;
}
#box-hover:hover {
  color: #def;
  text-shadow: none;

  background-color: rgba(10,60,150, 0.8);
}

.home-title {
	font-size: 500%;
	font-weight: 600;
	line-height: 50%;
  font-family: 'Archivo Black', sans-serif;

	text-align: center;

  padding: 1% 1% 1% 1%;

	color: rgba(10,60,150, 0.8);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

::-moz-selection { background: #fff; color: #fff; text-shadow: none; }
::selection { background: #fff; color: #fff; text-shadow: none; }

#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

#main-button {
  color: rgba(10,60,150, 0.8);

  transition: color 0.3s;
}
#main-button:hover {
  color: #fff;
}

.resume-column {
  float: flex;
  width: 40%;

  background:rgba(10,60,150, 0.8);
}

.resume-row:after {
  content: "";
  display: table;
  clear: both;
}
